{% load static %}
<!DOCTYPE html>
<head>
	<title>Puzzled Mind</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="page-header">
		<h1>Practical Living Strategies for Patients, Families & Caregivers</h1>
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
	</div>
	<h2>Dementia is just a piece of the puzzle. Where do you fit in? </h2>

	<div class="content container">
	    <div class="row">
	        <div class="col-md-8">
	        {% block content %}
            {% endblock %}
			</div>
		</div>
	</div>

	<h3>Learn What It Takes To Enhance Quality Of Life</h3>
		<ul>
			<li>Dementia Consultation</li>
			<li>Dementia Seminars</li>
			<li>Home/Facility Dementia Training</li>
		</ul>
	<h3>"We help you build a safe, healthy, & calm environment."</h3>
		<ul>
			<li>In Home Visits</li>
			<li>Facility In-service</li>
			<li>Environmental Safety Assessment</li>
			<li>Holistic Service(s): Reiki</li>
		</ul>
</body>
</html>