<!DOCTYPE html>
<html>
<head>
	<title>Puzzled Mind</title>
</head>
<body>
	<h1>Practical Living Strategies for Patients, Families & Caregivers</h1>
	<h2>Dementia is just a piece of the puzzle. Where do you fit in? </h2>

	{% for post in posts %}
		<div>
			<h1>{{post.title}}</h1>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}

	<h3>Learn What It Takes To Enhance Quality Of Life</h3>
		<ul>
			<li>Dementia Consultation</li>
			<li>Dementia Seminars</li>
			<li>Home/Facility Dementia Training</li>
		</ul>
	<h3>"We help you build a safe, healthy, & calm environment."</h3>
		<ul>
			<li>In Home Visits</li>
			<li>Facility In-service</li>
			<li>Environmental Safety Assessment</li>
			<li>Holistic Service(s): Reiki</li>
		</ul>
</body>
</html>